[Unit]
Description=Keyboard backlight daemon
StartLimitBurst=5
StartLimitIntervalSec=500

[Service]
ExecStart=/usr/bin/keylightc
DynamicUser=yes
LogLevelMax=info
OpenFile=/sys/class/leds/chromeos\x3a\x3akbd_backlight/brightness
Restart=on-failure
RestartSec=1s
SupplementaryGroups=input
Type=exec

[Install]
WantedBy=multi-user.target
