[Unit]
Description=Keyboard backlight daemon
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=exec
ExecStart=/usr/bin/keylightc
DynamicUser=yes
SupplementaryGroups=input
OpenFile=/sys/class/leds/chromeos\x3a\x3akbd_backlight/brightness
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
