Source: keylightc
Section: utils
Priority: optional
Maintainer: Michael Marley <michael@michaelmarley.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.0
Homepage: https://gitlab.com/mamarley/keylightc
Vcs-Git: https://gitlab.com/mamarley/keylightc.git
Vcs-Browser: https://gitlab.com/mamarley/keylightc
Rules-Requires-Root: no

Package: keylightc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Automatic keyboard backlight for Framework laptops
 keylightc turns the keyboard backlight on Framework laptops on automatically
 on keyboard/trackpad input and turns it off again after a configurable
 interval (default 10 seconds).  Linux kernel 6.11 or later is required due to
 its dependence on the ChromeOS EC backlight control interface added in that
 version.
